@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

html,
body
{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

input[type="range"] {

  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 

  /* creating a custom design */
  width: 100%;
  cursor: pointer;

  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #000000;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  background: #000000;
  border-radius: 16px;
}

